body {
    margin: 0px;
    padding: 0px;
    font-family: "Gill sans", sans-serif;
}

ul {
    list-style-type: none;
    text-align: left;
    margin: 0px;
    padding: 15px;
    padding-left: 0px;
    overflow: hidden;
    background-color: #38444d;
    font-family: "Gill sans", sans-serif;
    color: white;
    font-size: 20px;

}

ul.content {
    list-style-type: none;
    text-align: center;
    margin: 0px;
    padding: 15px;
    padding-left: 0px;
    overflow: hidden;
    background-color: #38444d;
    font-family: "Gill sans", sans-serif;
    color: white;
    font-size: 20px;
}

.column {
    float: left;
    width: 33.33%;
    text-align: center;
}


.row:after {
    display: table;
    clear: both;
}

.pairHollow  {
    border: 3px #38444d solid;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    display: block;        
}   

.pairFilled  {
    border: 3px #38444d solid;
    background-color:rgb(118, 118, 170);
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    display: block;        
}   
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

li {
    display: inline-block;
}

li.content {
    display: inline-block;
}

h1.home {
    display: block;
    text-align: left;
    font-family: "Gill sans", sans-serif;
    padding: 60px;
    padding-bottom: 0px;
    margin: 0px;
    color: #ffffff;
    font-size: 64px;
}

h2.home {
    display: block;
    text-align: left;
    font-family: "Gill sans", sans-serif;

    padding-left: 100px;
    padding-bottom: 60px;
    margin: 0px;
    color: #ffffff;
    font-size: 32px;
}

h1.content {
    display: block;
    text-align: center;
    font-family: "Gill sans", sans-serif;
    padding: 60px;
    padding-bottom: 5px;
    margin: 0px;
    color: #ffffff;
    font-size: 64px;

}

h2.content {
    display: block;
    text-align: center;
    font-family: "Gill sans", sans-serif;
    padding: 5px;
    padding-bottom: 60px;
    margin: 0px;
    color: #ffffff;
    font-size: 32px;
}

h3.content {
    display: block;
    text-align: left;
    font-family: "Gill sans", sans-serif;
    margin: 0px;
    padding: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #38444d;
    font-size: 20px;
}

h3.contentColumn {
    display: block;
    font-family: "Gill sans", sans-serif;
    margin: 0px;
    padding: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #38444d;
    font-size: 20px;
}

a.nav,
a:link.nav,
a:visited.nav {
    color: white;
    text-decoration: none;
    padding: 20px;
}

a:hover.nav {
    color: white;
    text-decoration: underline;
    padding: 20px;
}

a.currentPage {
    color: white;
    background-color: rgb(118, 118, 170);
    text-decoration: none;
    padding: 20px;
    margin: 0px;
}

a.body {
    color: #38444d;
    margin: 0px;
    padding: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

a:link.body,
a:visited.body,
a:hover.body {
    color: #38444d;
    margin: 0px;
    padding: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: underline;
}

p.body {
    color: #38444d;
    margin: 0px;
    padding: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}


